<div>
    <div class="panel panel-body border-top-primary text-center">
        <h6 class="no-margin text-semibold" translate>Supplier Type</h6>
        <p class="text-muted content-group-sm" translate>Please select the type of the supplier that you want to create.</p>

        <button type="button"
                data-ng-click="vmSellerTypeSelector.selectType('person')"
                class="btn btn-info btn-float"><i class="icon-user icon-2x icon-bordered"></i>
            <span translate>Person</span></button>
        <button type="button"
                data-ng-click="vmSellerTypeSelector.selectType('entity')"
                class="btn btn-info btn-float"><i class="icon-briefcase icon-2x icon-bordered"></i>
            <span translate>Entity</span></button>
    </div>

</div>