<apt-panel-heading-elements>
	<table class="table table-compressed text-nowrap">
		<tbody>
		<tr>
			<td class="no-border col-md-4"
			    ng-hide="vmCashSaleEnterPayment.balance==0"
			    ng-class="{true:'alert-danger',false:'alert-primary'}[vmCashSaleEnterPayment.max_limit==0]">
				<div class="media-left">
					<h3 class="text-semibold no-margin">
						<span ng-show="vmCashSaleEnterPayment.max_limit==null" translate>No Limit</span>
						<span ng-hide="vmCashSaleEnterPayment.max_limit==null">{{vmCashSaleEnterPayment.max_limit.toFixed(2)|isoCurrency:'try'}}</span>
						<small class="display-block no-margin text-size-mini" translate>Max Limit</small>
					</h3>
				</div>
			</td>
			
			<td class="no-border col-md-4 alert-info">
				<div class="media-left">
					<h3 class="text-semibold no-margin">
						{{vmCashSaleEnterPayment.sales_total.toFixed(2)|isoCurrency:'try'}}
						<small class="display-block no-margin text-size-mini" translate>Total</small>
					</h3>
				</div>
			</td>
			
			<td class="no-border col-md-4"
			    ng-hide="vmCashSaleEnterPayment.balance==0"
			    ng-class="{true:'alert-success', false:'alert-danger'}[vmCashSaleEnterPayment.balance==0]">
				<div class="media-left">
					<h3 class="text-semibold no-margin">
						{{vmCashSaleEnterPayment.balance.toFixed(2)|isoCurrency:'try'}}
						<small class="display-block no-margin text-size-mini" translate>Balance</small>
					</h3>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</apt-panel-heading-elements>

<div class="content-group mt-20" style="min-height: 200px;">
	<div ng-hide="vmCashSaleEnterPayment.balance==0" class="content">
		<div class="form-group">
			<label class="display-block" translate>Payment Method</label>
			<div class="btn-group btn-group-lg">
				<button type="button"
				        class="btn btn-default btn-icon"
				        data-ng-class="{true: 'btn-primary', false: 'btn-default'}[payment_type.type_id==vmCashSaleEnterPayment.payment_type.type_id]"
				        data-ng-click="vmCashSaleEnterPayment.setPaymentType(payment_type)"
				        data-uib-tooltip="{{payment_type.name|translate:'paymentType'}}"
				        data-tooltip-append-to-body="true"
				        data-ng-repeat="payment_type in vmCashSaleEnterPayment.payment_types | filter:{name:'!split'}">
					<i class="{{payment_type.conf.icon}}"></i></button>
			</div>
		</div>
		
		<div class="form-group"
		     ng-show="vmCashSaleEnterPayment.is_active && vmCashSaleEnterPayment.max_limit!=0 && vmCashSaleEnterPayment.balance!=0">
			<label>{{vmCashSaleEnterPayment.payment_type.name|translate:'paymentType'}}</label>
			<div class="input-group">
				<input type="text" class="form-control"
				       ng-model="vmCashSaleEnterPayment.split.payment"
				       ng-enter="vmCashSaleEnterPayment.addSplit()"
				       placeholder="{{'amount'|translate}}">
				<div class="input-group-btn">
					<button type="button"
					        class="btn btn-danger btn-rounded"
					        ng-click="vmCashSaleEnterPayment.addSplit()">
						<i icon="add-to-list"></i> <span translate>Add</span></button>
					<button type="button" class="btn btn-danger btn-rounded dropdown-toggle"
					        data-toggle="dropdown"><span
							class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href ng-hide="vmCashSaleEnterPayment.max_limit==0"
						       ng-click="vmCashSaleEnterPayment.compensate(balance)"><i class="icon-menu7"></i> <span
								translate>Compensate</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="text-muted" ng-show="vmCashSaleEnterPayment.max_limit==0">
		<h2 translate>No limit available!</h2>
		<p translate>The selected payment method does not have any limit available at this moment. Please try with different payment method.</p>
	</div>
	
	<div ng-show="vmCashSaleEnterPayment.balance==0">
		<div class="row">
			<div class="col-sm-8">
				<h2 class="no-margin-top" translate>Ready</h2>
				<p translate>You have successfully created the payment chart. Click the `pay now` button to receive the payment.</p>
			</div>
			<div class="col-sm-4 text-center">
				<apt-cash-sale-payment-button view-type="paynow"></apt-cash-sale-payment-button>
			</div>
		</div>
	</div>
</div>
