<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title"><span translate>Billing Addresses</span></h6>
    </div>

    <div class="panel-body">
        <div class="col-lg-3" data-ng-repeat="address in vmCashSaleBillingAddressSelector.addresses">

            <ul class="list-inline text-center">
                <li class="text-left">
                    <div class="text-semibold">{{address.title}}</div>
                </li>
            </ul>
            <div class="panel text-center">
                <div class="panel-body">

                    <ul class="list list-unstyled text-Left">

                        <li>
                            <span translate>City</span>: <span
                                class="text-semibold">{{address.address.city.name}}</span>

                        </li>

                        <li>
                            <span translate>State</span>: <span
                                class="text-semibold">{{address.address.state.name}}</span>
                        </li>

                        <li>
                            <span translate>Address</span>: <span
                                class="text-semibold">{{address.address.address}}</span>
                        </li>
                    </ul>

                    <button class="btn bg-teal-400 btn-xs pull-right mr-5"
                            data-ng-click="vmCashSaleBillingAddressSelector.selectBillingAddress(address)">
                        <span translate>Accept</span>
                    </button>
                </div>


            </div>
        </div>

    </div>


</div>