<div class="row">
    <div class="col-md-5 m-5">
        <button ng-click="vmCashSaleShoppingCartMenu.resetShoppingCart()" class="btn btn-default btn-xs" translate>
            Reset
        </button>
    </div>

    <div data-ng-if="vmCashSaleShoppingCartMenu.client.client_id" class="col-md-7 m-5">
        <button ng-click="vmCashSaleShoppingCartMenu.openClientSaleHistoryPopup()"
                class="btn btn-info btn-xs">{{vmCashSaleShoppingCartMenu.client.name}}
            <span translate>Sale History</span>
        </button>
    </div>
</div>