<apt-panel class="no-margin">

    <apt-panel-title icon="{{$root.$window.clientBuilder.icon}}">
        <span class="text-semibold" translate>Client Manager</span>
        <span class="text-thin">{{vmClientManager.item.person.first_name+' '+vmClientManager.item.person.last_name}}</span>
    </apt-panel-title>


    <apt-panel-tab active="true">
        <apt-panel-tab-title>
            <span translate>Details</span>
        </apt-panel-tab-title>
        <apt-panel-tab-body>
            <div ng-if="vmClientManager.formType=='nested'" apt-client-form
                 data-view-type="nested" item="vmClientManager.item"></div>
            <div ng-if="vmClientManager.formType=='quick'" apt-client-form data-stay="vmClientManager.stay"
                 data-view-type="quick"
                 item="vmClientManager.item"></div>
        </apt-panel-tab-body>
    </apt-panel-tab>

    <apt-panel-tab>
        <apt-panel-tab-title>
            <span translate>Client Card</span>
        </apt-panel-tab-title>
        <apt-panel-tab-body>
            <div ng-if="!vmClientManager.item.__is_incomplete && vmClientManager.item.client_id"
                 apt-client-card-manager
                 data-binding-id="{{vmClientManager.item.client_id}}"
                 data-bind-to="client"></div>
            <div ng-if="vmClientManager.item.__is_incomplete || !vmClientManager.item.client_id" class="text-muted well">
                <h2 translate>Client not created, yet</h2>
                <p translate>Please make sure that you have created the client by clicking the `add` button.</p>
            </div>
        </apt-panel-tab-body>
    </apt-panel-tab>

</apt-panel>
