<ul class="list-group">
    <li class="list-group-item"
        style="cursor: pointer;"
        ng-style="{'border-left': '10px solid '+item.color}"
        ng-repeat="item in vmClientGroupListing.data"
        ng-class="{'active':model==item.client_group_id}"
        data-ng-click="vmClientGroupListing.setSelected(item)">
        <div ng-if="vmClientGroupListing.checkbox"
             class="checkbox check-success">
            <input type="checkbox"
                   ng-checked="model==item.client_group_id"/>
            <label>{{item.name}}</label>
        </div>
        <span ng-if="!vmClientGroupListing.checkbox">{{item.name}}</span>
    </li>
</ul>

