<div>
	<div class="row">
		<div ng-if="!vmSaleitemFindByBarcode.saleData.flags.isClientSelected" class="well-lg text-muted">
			<h2>
				<i class="icon-exclamation icon-3x text-danger-300 position-left"></i>
				<span translate>Client is not selected</span>
			</h2>
			<p translate>Swipe the client card or select a client from the list on the left.</p>
		</div>
	</div>
	
	<div ng-if="vmSaleitemFindByBarcode.saleData.flags.isClientSelected"
	     class="panel panel-white no-margin-bottom">
		<div class="panel-heading">
			<h6 class="panel-title"><i class="icon-basket position-left"></i>
				<span class="text-semibold" translate>Find By Barcode</span></h6>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<input type="text" class="form-control border-grey border-lg"
				       data-ng-model="vmSaleitemFindByBarcode.barcode"
				       placeholder="{{'Barcode'|translate}}"
				       ng-keypress="vmSaleitemFindByBarcode.onEnterKey($event)">
				<span class="text-info">Ürünü eklemek için Enter tuşuna basın</span>
			</div>
			
			<div ng-if="vmSaleitemFindByBarcode.productOverview"
			     data-apt-saleitem-preview
			     data-saleitem="vmSaleitemFindByBarcode.saleitem"></div>
			
			<div ng-if="vmSaleitemFindByBarcode.productOverview==false"
			     class="alert alert-warning alert-styled-left">
				<span class="text-semibold" translate>Product not found</span>
			</div>
		</div>
	
	</div>
</div>