<table apt-datatable datasource="data" model-base="vmClientList">
	<thead></thead>
	<tbody>
	<tr class="media-list media-list-linked">

		<td class="media">
			<div class="media-link">
				<div class="media-left">
					<!--<img src="assets/images/demo/users/face1.jpg" class="img-circle" alt="">-->
					<img gravatar-src-once="row.email" gravatar-size="32" class="img-circle img-sm"/>
				</div>
				<div class="media-body">
					<div class="media-heading text-semibold">{{row.name}}</div>
					<span class="text-muted">
						<span ng-if="row.clientgroup" class="position-left"><i class="icon-circles" ng-style="{'color':row.color}"></i> {{row.clientgroup}}</span>
						<span ng-if="row.contact_json.mobile" class="position-left"><i class="icon-phone"></i> {{row.contact_json.mobile}}</span>
						<span ng-if="row.contact_json.email" class="position-left"><i class="icon-mail5"></i> <a ng-href="mailto:{{row.contact_json.email}}">{{row.contact_json.email}}</a></span>
					</span>
				</div>
				<!--<div class="media-right media-middle text-nowrap">
					<i class="icon-menu7 display-block"></i>
				</div>-->
			</div>
		</td>

	</tr>
	</tbody>
</table>