<div>
	<div class="form-group" ng-if="vmClientCardForm.params.mode=='new'">
		<label translate>Card</label>
		<div data-apt-card-selector
		     data-view-type2="plain"
		     data-filter-object="{in_use:'null'}"
		     ng-model="vmClientCardForm.form.data.card_id"></div>
	</div>

	<apt-field type="checkbox" label="Primary Card" field="is_primary"
	           holder-class="text-right"
	           ng-true-value="true"
	           ng-false-value="false"
	           model-base="vmClientCardForm.form.data"></apt-field>
	<apt-field type="checkbox" label="Assign Password" field="setPassword"
	           holder-class="text-right"
	           ng-true-value="true"
	           ng-false-value="false"
	           model-base="vmClientCardForm.form.data"></apt-field>

	<div class="form-group" data-ng-if="vmClientCardForm.form.data.setPassword">
		<label translate>Password</label>
		<input type="password" class="form-control" ng-model="vmClientCardForm.form.data.password" />
	</div>

</div>