<div class="modal-content bg-teal-300">
	<div class="modal-header">
		<h2 class="modal-title" translate>What shall we do?</h2>
	</div>
	
	<div class="modal-body">
		<p translate>The product you are adding is already in the basket. We can either add as new item or increment the quantity of the existing item.</p>
	
	</div>
	
	<div class="modal-footer">
		<button class="btn bg-teal" ng-click="addNew()" translate>Add New</button>
		<button class="btn bg-teal-800" ng-click="increment()" translate>Increment</button>
	</div>
</div>