<div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label translate>Coupon Title</label>

                <input type="text"
                       data-ng-model="vmCouponForm.form.data.title"
                       class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label translate>Code</label>
                <input type="text"
                       data-ng-model="vmCouponForm.form.data.code"
                       class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label translate>Description</label>
                        <textarea class="form-control"
                                  data-ng-model="vmCouponForm.form.data.description"></textarea>
            </div>
        </div>

    </div>
</div>